thead{
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: #E8DFCA;
}
.date{
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: #DEB6AB;
}
td{
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: #F5EFE6;
}
dl{
  font-family: "Lucida Console", "Courier New", monospace;
}
p{
  font-family: "Lucida Console", "Courier New", monospace;
}
caption{
  font-family: "Lucida Console", "Courier New", monospace;
}
table{
  font-family: "Lucida Console", "Courier New", monospace;
}
body{
  background-color: #EDEDED;
}
a href{
  cursor: pointer;
}
/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: rgb(166, 103, 119);
}

/* mouse over link */
a:hover {
  color: rgb(99, 145, 176);
}

/* selected link */
a:active {
  color: rgb(129, 202, 124);
}